/* STYLE SECTIONING TAGS */
body {
  font-family: 'Times New Roman';
  margin: 2em;
  background-color:  lightsteelblue;
 
  }

/* STYLE TEXT */
h1 {
  
  font-family: 'Franklin Gothic Medium';
  color: #05645c;
}

h2 {
  margin-top: 2em; 
}

/* STYLE FLEX CONTAINER */
.question {
  display: flex;
  margin-top: 2em;
}
  
/* STYLE FLEX ITEM */
.answer-choice {
  margin: 2px;
  
}

/* STYLE IMAGES */
.answer-choice img {

  height: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  
}



/* STYLE BUTTON */
button { 
  font-family: 'Times New Roman';
  font-size: 20px;
  background-color: tan;
  margin-top: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
  border-width: 4px;
  border-color: brown;
  
}